(TRANSFORM C
          (INPUTS (AvailableLand 2)
                  (Population 3)
                  (Water 2))
          (OUTPUTS (Food 1)
                   (FoodWaste 1)
                   (AvailableLand 1)
                   (Population 3)
                   (Water 2)))