(TRANSFORM C
          (INPUTS
              (Population 2)
              (PotentialEnergyUsable 1))
          (OUTPUTS
              (Population 2)
              (PotentialEnergyUsableWaste 1)
              (Water 1)))