(TRANSFORM C
          (INPUTS
            (Population 3)
            (MetallicAlloys 3)
            (Electronics 2)
            (PotentialEnergyUsable 4)
            (Water 2))
          (OUTPUTS
            (Population 3)
            (Military 1)
            (MilitaryWaste 1)
            (Water 1)))