(TRANSFORM C
          (INPUTS
              (Population 2)
              (Timber 3)
              (Water 3))

          (OUTPUTS
              (Population 2)
              (PotentialEnergyUsable 2)
              (PotentialEnergyUsableWaste 2)
              (Water 2)))