(TRANSFORM C
          (INPUTS (Housing 1)
                  (Population 2)
                  (Water 3)
                  (PotentialEnergyUsable 4))
          (OUTPUTS (Population 3)
                   (Water 3)))