(TRANSFORM C
          (INPUTS
              (Population 2)
              (Electronics 5)
              (Water 3))
          (OUTPUTS
              (Population 2)
              (Electronics 5)
              (PotentialEnergyUsable 2)
              (PotentialEnergyUsableWaste 2)
              (Water 2)))